@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@600&family=Montserrat:wght@400;500;700;900&display=swap%27');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0px;
  margin: 0px;
  border-sizing: border-box;
}
body {
  overflow-x: hidden;
}
